# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
CLAUDE.md
API_ROUTES.md
CLAUDE.md
/mydevice
/complet
cahier_de_charge.md
ENDPOINTS.md
INSTALLATION.md
suite.md
/activ_education/complet
/activ_education/mydevice
/activ_education/suite.md
/activ_education/ENDPOINTS.md
/activ_education/INSTALLATION.md
/activ_education/CLAUDE.md  
/activ_education/API_ROUTES.md
/activ_education/cahier_de_charge.md
/activ_education/activ_education/complet
/activ_education/activ_education/mydevice
/activ_education/activ_education/suite.md
/activ_education/activ_education/ENDPOINTS.md
/activ_education/activ_education/INSTALLATION.md
/activ_education/activ_education/CLAUDE.md
/activ_education/activ_education/API_ROUTES.md
/activ_education/activ_education/cahier_de_charge.md  
.env
.env.backup
